<h1>Your Devises</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @devises.each do |devise| %>
  <tr>
    <td><%= devise.name %></td>
    <td><%= link_to 'Show', devise %></td>
    <td><%= link_to 'Destroy', devise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>


</table>

<br />

<%= link_to 'New Devise', new_devise_path %>
